*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
main{
    width: 800px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 100px;
    border: 2px solid rgb(202, 201, 201);
    border-radius: 30px;
}
.header, .timer{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.header{
    font-size: 3rem;
    
}
.timer{
    font-size: 3rem;
    padding-top: 50px;
}

.buttons{ 
    padding-top: 50px;
}
button{
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
}

#start{
    background-color: rgb(89, 212, 89);
}
#start:hover{
    background-color: rgb(137, 219, 137);
}
#start:active{
    background-color: rgb(89, 212, 89);
}
#stop{
    background-color: rgb(255, 49, 49);
}
#stop:hover{
    background-color: rgb(245, 110, 110);
}
#stop:active{
    background-color: rgb(255, 49, 49);
}
